---
openapi: 3.0.0
info:
  version: 1.0.0
  title: Feature flags service API
  description: There is an API for Feature flags service
  contact:
    name: Anton Shelyganov
    email: antonshell@yandex.ru
    url: https://antonshell.me/
servers:
  - url: https://feature-flags.antonshell.me/
paths:
  /:
    get:
      description: Healthcheck. Does nothing
      responses:
        '200':
          description: Healthcheck response
          content:
            application/json:
              schema:
                type: object
                properties:
                  service:
                    type: string
                  status:
                    type: string
              examples:
                '0':
                  value: '{"status":"ok","service":"feature flag service"}'
      tags:
        - main
  /feature/{owner}/{project}/{feature}/{environment}:
    get:
      description: Get feature value
      parameters:
        - in: path
          name: owner
          description: Project owner
          required: true
          schema:
            type: string
            example: antonshell
        - in: path
          name: project
          description: Project name
          required: true
          schema:
            type: string
            example: demo
        - in: path
          name: feature
          description: Feature name
          required: true
          schema:
            type: string
            example: feature1
        - in: path
          name: environment
          description: Environment name
          required: false
          schema:
            type: string
            default: prod
            example: prod
      responses:
        '200':
          description: Feature value response
          content:
            application/json:
              schema:
                type: object
                properties:
                  environment:
                    type: string
                  feature:
                    type: string
                  enabled:
                    type: boolean
                  status:
                    type: string
              examples:
                '0':
                  value: >-
                    {"status":"ok","feature":"feature1","environment":"prod","enabled":true}
      tags:
        - main
